{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id='chart1' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart1',{{graph1 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart2' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart2',{{graph2 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart3' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart3',{{graph3 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div id='chart4' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart4',{{graph4 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart5' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart5',{{graph5 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart6' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart6',{{graph6 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div id='chart7' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart7',{{graph7 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart8' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart8',{{graph8 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart9' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart9',{{graph9 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div id='chart10' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart10',{{graph10 | safe}})
            </script>
        </div>
        <div class="col-md-4">
            <div id='chart11' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart11',{{graph11 | safe}})
            </script>
        </div>
        <br>
        <div class="col-md-4">
            <div id='chart12' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart12',{{graph12 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div id='chart13' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart13',{{graph13 | safe}})
            </script>
        </div>
        <br>
        <div class="col-md-8">
            <div id='chart14' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart14',{{graph14 | safe}})
            </script>
        </div>
    </div>
</div>

{% endblock %}

