{% extends 'base.html' %}

{% block body %}
<style>
    @keyframes zoom_in_out {
        from {
            transform: scale(.9);
            color: rgb(252, 252, 252);
        }

        to {
            transform: scale(1.1);
            color: rgb(5, 82, 248);
        }

    }

    .hero {
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8rem;
        text-shadow: 2px 2px 4px #000000;
        animation: zoom_in_out 1s ease-in-out infinite alternate;
    }
</style>
<div class="conatiner">

    <div class="row">
        <div class="col">
            <h1 class=" hero">House Pricing Analysis App</h1>
        </div>
    </div>
</div>

{% endblock %}