{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id='chart15' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart15',{{graph15 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id='chart16' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart16',{{graph16 | safe}})
            </script>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div id='chart17' class='chart'></div>
            <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
            <script type='text/javascript'>
                Plotly.plot('chart17',{{graph17 | safe}})
            </script>
        </div>
    </div>
</div>

{% endblock %}


